/* /* @CHARSET "UTF-8";

¹«ÓÃ
.comWidth{width:1000px;margin-left:auto;margin-right:auto}

.topBar{height:30;background-color:0066CC}
 */
 
 body{
 width:500px;
 background-color:red;
 }
 
 